# Етап 1 — SQLite
DATABASE_URL=sqlite:///instance/kasa.db

# Етап 2 — MySQL/MariaDB (просто змінити рядок, код не чіпати)
# DATABASE_URL=mysql+pymysql://kasa_user:pass@127.0.0.1:3306/kasa?charset=utf8mb4

SECRET_KEY=change-me-to-a-long-random-string
FLASK_APP=wsgi.py
FLASK_ENV=development
TZ=Europe/Kyiv
