{% extends "base.html" %}
{% block content %}
<h5 class="mb-3">{{ title }}</h5>
<form method="post" class="card p-3 col-lg-6">
  {{ form.hidden_tag() }}
  {% for field in form if field.widget.input_type != 'hidden' and field.name != 'submit' %}
    <div class="mb-3">{{ field.label(class="form-label") }}
      {% if field.type == 'BooleanField' %}<div class="form-check">{{ field(class="form-check-input") }}</div>
      {% elif field.type == 'SelectField' %}{{ field(class="form-select") }}
      {% else %}{{ field(class="form-control") }}{% endif %}
      {% for e in field.errors %}<div class="text-danger small">{{ e }}</div>{% endfor %}</div>
  {% endfor %}
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
